       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
       <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="assets/css/style1.css"/>
        
        <style type="text/css">
            body {
                font-family: Helvetica, Arial, sans-serif;
                font-size: 13px;
                padding: 0 0 50px 0;

            }
            .contain {
                width: 800px;
                margin: 0 auto;
            }
            .gantt, .gantt2 {
                width: 334 !important;
                height: inherit !important;
                margin: 40px auto;
                border: 14px solid #ddd;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    border-radius: 6px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }
            
            h1 {
                margin: 40px 0 20px 0;
            }
            h2 {
                font-size: 1.5em;
                padding-bottom: 3px;
                border-bottom: 1px solid #DDD;
                margin-top: 50px;
                margin-bottom: 25px;
            }
            table th:first-child {
                width: 150px;
            }
            .fn-gantt .navigate {
               
                padding: 10px 0 10px 105px !important;
                
            }
          </style>
    </head>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
    try {
        ace.settings.check('breadcrumbs', 'fixed')
    } catch (e) {}
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">Home</a>
        </li>

        <li class="active">Gantt Veiw 1</li>
    </ul>
    <!-- .breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div>
    <!-- #nav-search -->
</div>

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->


         <div class="container">
         <div class="col-sm-2"></div>
          <div class="col-sm-8">
          <h3 class="header smaller lighter red">
                        <span >
                            <i class="icon-picture"></i>
                            Gantt chart view 1
                        </span>
                        </h3>
                        <div > 
            
            <div class="gantt"> </div>
             <div class="col-sm-12">
                    <h3 class="header smaller lighter red">Why this ?</h3>

                    <div class="well">
                        <h4 class="green smaller lighter">This library supports dependencies links</h4>
                       This is chart is using v1.2.0 of jquery.gantt and this supports dependencies.
                    </div>
                </div>


        </div>
             </div>
             <div class="col-sm-2"></div>
            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


   <script type="text/javascript">
    require(['jquery', 'jquerygantt'], function($, jquerygantt){

       $(function () {
  

           $(".gantt").gantt({
            source: 'scripts/data/ganttdata1.json', 
            navigate: 'scroll', 
            scale: 'days', 
            maxScale: 'weeks', 
            minScale: 'hours'
           });
          });
         });


    </script>
